/**
 *  @desc:定义全局样式变量.
 */
 @charset "UTF-8";

// 普通字体
$normal-font-family: "Helvetica Neue","Arial","PingFang SC","Microsoft YaHei", "Source Han Sans SC","Noto Sans CJK SC","sans-serif";
// 加粗字体
$medium-font-family: "PingFangSC-Medium",'Noto SansCJK';

$theme-color: #FB703C;
$gold-theme-color: #B88845;
